<div class="upcoming-container-card" >
    <div class="upcoming-container-header mat-mdc-card-header">
        <h2>Available to Join ({{availableMatches.length}})</h2>
    </div>
    <div class="upcoming-container-content vh-100">
        <div class="mat-mdc-card-content mb-3" *ngFor="let match of availableMatches">
            <mat-card>
                    <div class="row px-2 py-3 mx-0 content-1">
                        <div class="col-sm-8 u-s">
                            <div class="upcoming-sport">
                                {{match.sport}}
                            </div>
                            <div class="upcoming-match-time">
                                {{match.date | date:'MM-dd-yyyy'}} {{match.slots[0]}}
                            </div>
                        </div>
                        <div class="col-sm-4 u-s-2 text-center">
                            <div class="upcoming-sport">
                                {{match.participants.length}}
                            </div>
                            <div>
                                going
                            </div>
                        </div>
                    </div>
                    <div class="info-row p-3">
                        <div class="location">
                            <mat-icon aria-hidden="false" aria-label="location" fontIcon="pin_drop"></mat-icon>
                            <div class="location-name">{{match.ground.name}}</div>
                        </div>
                    </div>
                     <div class="info-row p-3">
                        <div class="join-match">
                          <a class="join-match-link" [class.disabled]="match.isOwner" (click)="openJoinMatchDialog(match)">Join Match</a>
                        </div>
                      </div>
            </mat-card>
    
        </div>
    </div>


    <ng-template #joinMatchDialog let-data>
        <label mat-dialog-title>Confirm</label>
        <mat-dialog-content>
            <label>Are you sure you want to join the match?</label>
        </mat-dialog-content>
        <mat-dialog-actions align="end"> 
            <button mat-button [mat-dialog-close]="false">No</button>
            <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
          </mat-dialog-actions>

      </ng-template>
   

</div>