.example-spacer {
    flex: 1 1 auto;
  }
  .custom-toolbar{
    height: 80px ;
    background-color: transparent;
  }
  .app-header{
    height: 5rem ;
    background-color: rgb(44 44 44);
    
  }
  .logo{
    max-height: 4rem;
  }

  .user-name{
    color:white !important;
    font-size: 16px;
  }
  .clark-logo
  {
    max-width: 4rem;
  }
  .white-dots{
    color: white;
  }

  .u-icon{
    vertical-align: text-top !important;
  }

  .user-name-black{
    color:black;
  }