.example-spacer {
    flex: 1 1 auto;
  }
  .custom-toolbar{
    height: 80px ;
    background-color: transparent;
  }
  .app-header{
    height: 80px ;
    background-color: rgb(240,0,0);
  }
  .logo{
    max-height: 4rem;
  }

  .clark-logo
  {
    max-width: 4rem;
  }
