<!-- Section: Design Block -->
<section id="designBlock" class="background-cu-web-image">

    <style>
        #designBlock {
            background-color: hsl(218, 41%, 15%);
            background-image: url("../assets/images/cu-bg.jpg");
            background-size: cover;
            height: 100%;
            overflow-x: hidden;
        }
    </style>
    <div id="designBlockContent" class="px-4 py-5 px-md-5  container-fluid text-center text-lg-start my-5">
        <div id="designBlockContent2" class="row gx-lg-5 align-items-center mb-5 mt-5">
            <div id="textBlock" class="col-lg-7 mb-5 mb-lg-0 d-none d-lg-block" style="z-index: 10">
                <h1 id="welcomeHeading" class="display-5 welcome-text fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Welcome! <br />
                    <span style="color:hsl(0.29deg 100% 40%); text-shadow: 3px 7px black;">Discover, Connect, Play</span>
                </h1>
                <p id="welcomeMessage" class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                   
                </p>
            </div>

            <div id="loginBlock" class="col-lg-5 mb-5 mb-lg-0 position-relative">
                <mat-card id="loginCard" class="login-card card bg-glass">
                    <mat-card-header id="cardHeader">

                        <mat-card-title id="cardTitle">
                            <img id="cupf-logo-red-text" class="logo" src="../assets/images/cupf-logo-red-text.png" />
                            <br />
                            <div id="loginFormTitle" class="login-form-title">

                                <span id="sign-in" class="text-muted">Sign in to your account</span>
                            </div>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content id="cardContent">
                        <form id="login-form" [formGroup]="loginForm">
                            <mat-form-field id="login-form-field" class="login-form-field" appearance="outline">
                                <mat-label id="email" for="emailInput">Email</mat-label>
                                <input id="emailInput" type="email" matInput formControlName="email"
                                    placeholder="Ex. pat@example.com">
                                <mat-error id="email-error"
                                    *ngIf="loginForm.hasError('email','email')">
                                    Please enter a valid email address
                                </mat-error>
                                <mat-error id="email-error-2" *ngIf="loginForm.hasError('required','email')">
                                    Email is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field id="login-form-field" class="login-form-field" appearance="outline">
                                <mat-label id="password_label" for="passwordInput">Enter your password</mat-label>
                                <input id="passwordInput" matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                <button id="password-hide" mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error id="password-required" *ngIf="loginForm.hasError('required','password')">
                                    Password is <strong>required</strong>
                                </mat-error>
                                
                            </mat-form-field>
                            <mat-error id="password-error" *ngIf="!hiddenError">
                                The user name or password is incorrect
                            </mat-error>
                            <button id="loginButton" [disabled]="loginForm.invalid" [class.disabled]="loginForm.invalid" (click)="login()" mat-raised-button class="login-btn">Login</button>
                            
                            <a id="forgotPasswordLink" class="login-action-link text-muted" routerLink="/repair">Forgot password?</a>
                            <p id="registerLink" class="login-action-link " style="color: #393f81;">Don't have an account? <a routerLink="/register"
                                    style="color: #393f81;">Register here</a></p>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <ng-template #verificationSuccessDialog let-data>
            <label mat-dialog-title>Success</label>
            <mat-dialog-content>
                <label>Verification is success, please login using credential</label>
            </mat-dialog-content>
            <mat-dialog-actions align="end"> 
                <button mat-button color="primary" [mat-dialog-close]="true">close</button>
            </mat-dialog-actions>
          </ng-template>
          <div *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
        </div>
    </div>
</section>
<!-- Section: Design Block -->
